@media (min-width:772px){
	#top-do-box{
		padding: 70px 0 90px !important;
	}
}
#top-do-box{
	padding: 70px 0 30px !important;
}
span.desde-val {
    font-size: 14px;
}
div#img-producto {
    max-width: 500px;
    margin-left: 0;
    margin-top: 5%;
}
@media (min-width:772px){
    div#img-producto {
        margin-left: 7%;
        margin-top: 0;
    }
    .pad-left-block{
        padding-left: 5%;
    }
}
b,strong{
    color: var(--color-a);
}
